<% content_for :title, "New room" %>

<div class="min-h-screen flex flex-col items-center justify-center py-12">
  
  <div class="w-full max-w-md">
    <div class="text-center mb-8">
      <h1 class="font-bold text-4xl text-center mb-2">Create a new Room</h1>
      <p class="text-gray-500">If you do not provide a slug, we will provide one for you </p>
    </div>

    <div class="bg-white p-8 border border-gray-200 rounded-xl shadow-sm">
      <% if notice.present? %>
        <div class="w-full max-w-md mb-4">
          <p class="py-3 px-4 bg-green-50 text-green-600 font-medium rounded-xl border border-green-100 text-center" id="notice">
          <%= notice %>
        </p>
      </div>
      <% end %>
      <%= render "form", room: @room %>
    </div>

    <div class="text-center mt-6">
      <%= link_to "Back to rooms", rooms_path, class: "text-gray-500 hover:underline" %>
    </div>
  </div>

</div>